<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glew.v140" version="1.12.0" targetFramework="native" />
  <package id="glfw" version="3.1.2" targetFramework="native" />
  <package id="glfw.redist" version="3.1.2" targetFramework="native" />
  <package id="glm" version="0.9.7.1" targetFramework="native" />
  <package id="libjpeg" version="9.2.0.1" targetFramework="native" />
  <package id="libjpeg.redist" version="9.2.0.1" targetFramework="native" />
  <package id="libpng" version="1.6.19.1" targetFramework="native" />
  <package id="libpng.redist" version="1.6.19.1" targetFramework="native" />
  <package id="libtiff" version="4.0.6.2" targetFramework="native" />
  <package id="libtiff.redist" version="4.0.6.2" targetFramework="native" />
  <package id="libwebp.v140.redist" version="0.5.0.1" targetFramework="native" />
  <package id="SDL" version="1.2.15.16" targetFramework="native" />
  <package id="SDL.redist" version="1.2.15.16" targetFramework="native" />
  <package id="SDL_image" version="1.2.12.3" targetFramework="native" />
  <package id="SDL_image.redist" version="1.2.12.3" targetFramework="native" />
  <package id="sdl2.v140" version="2.0.4" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="tinyxml2" version="3.0.0" targetFramework="native" />
  <package id="tinyxml2.redist" version="3.0.0" targetFramework="native" />
  <package id="zlib" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v120.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
  <package id="zlib.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.2.8.8" targetFramework="native" />
</packages>